---
import Layout from '../layouts/Layout.astro'
---
<Layout>
    <!-- HERO PRINCIPAL -->
    <section  id="hero_courses" class="relative flex flex-col items-center justify-center text-center py-16 md:py-28 bg-gradient-to-r from-blue-700 via-sky-500 to-blue-950">
        <div class="absolute inset-0 opacity-20 pointer-events-none">
          <img src="/low-poly-grid-haikei.svg" alt="Fondo decorativo" class="w-full h-full object-cover" />
        </div>
        <div class="relative z-10">
          <h1 class="text-5xl md:text-7xl font-extrabold text-white drop-shadow-lg mb-4 animate-swing-drop-in animate-delay-200">Nuestros Cursos</h1>
          <p class="text-2xl md:text-2xl text-white/90 mb-8 font-medium animate-swing-drop-in animate-delay-200">Elige el camino que mejor se adapta a tus metas. Aprende inglés con métodos innovadores y profesores expertos</p>
          <img src="/Icon_English.png" alt="Logo English School" class="mx-auto w-32 md:w-44 rounded-xl shadow-lg mb-4 animate-rubber-band" />
          
        </div>
        
      </section>
      <!-- duracion de los cursos -->
      <section id="duration" class="max-w-4xl mx-auto py-1  text-center ">
        <div class="max-w-4xl mx-auto py-16 px-4 text-center">
          <!-- a1 a2 b1 b2 -->  
          <h2 class="text-3xl md:text-4xl font-bold text-blue-700 mb-4 pb-5">Duración de los cursos</h2>
            <h3 class="text-2xl md:text-3xl font-bold text-blue-700 mb-4 pb-5">A1 – A2 – B1 – B2   </h3>
            <p class="text-lg text-gray-700 mb-4 text-center ">Cada nivel tiene una duración de 6 meses hasta la finalización del B2 obteniendo así certificación como técnico en trabajo y desarrollo humano en el área de ingles, para un total de 2 años y medio </p>
           <!-- C1  -->
            <h3 class="text-2xl md:text-3xl font-bold text-blue-700 mb-4 pb-5">C1  </h3>
            <p class="text-lg text-gray-700 mb-4 text-center ">Duración 1 año y medio, certificación como técnico en trabajo y desarrollo humano en el área de ingles y presentación a certificación internacional con una garantía del 100 % de que obtienes la certificación </p>
        </div>
      </section>

      <!-- Cursos ofrecidos -->
      <section id="courses_offered" class="max-w-4xl mx-auto py-16 px-4 text-center items-stretch">
        <h2 class="text-3xl md:text-4xl font-bold text-blue-700 text-center mb-10">Nuestros Cursos</h2>

        <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
        <div class=" h-full py-16 px-4 text-center  bg-white rounded-xl shadow-lg ">
          <h2 class="text-3xl md:text-4xl font-bold text-blue-700 mb-4">Cursos ofrecidos</h2>
            <ul class="list-disc list-inside text-gray-600 mb-4">
                <li>Clases Personalizadas</li>
                <li>Clases Presenciales</li>
                <li>Clases Virtuales</li>
                <li>Clases de Certificación</li>
                <li>Clases de preparación</li>



            </ul>
        </div>
        <!-- Horarios Disponibles -->
        <div class=" h-full py-16 px-4 text-center bg-white rounded-xl shadow-lg  ">
            <h2 class="text-3xl md:text-4xl font-bold text-blue-700 mb-4">Horarios Disponibles</h2>
            <ul class="list-disc list-inside  text-gray-600 mb-4">
                <li>Lunes a Viernes: 8:00 a.m. - 6:00 p.m.</li>
                <li>Sábados: 9:00 a.m. - 3:00 p.m.</li>
                <li>Domingos: Cerrado</li>
            </ul>
        </div>
        </div>
      </section>
      
      
      
    

</Layout>
