<footer class="bg-gradient-to-r from-blue-700 via-blue-500 to-blue-950 p-6 font-sans text-gray-200" id="footer">
  
  <div class="flex flex-col md:flex-row justify-between items-center md:items-start gap-6 max-w-7xl mx-auto ">
    <!-- Logo -->
    <img src="/Icon_English.png" alt="Icono English School" class="w-28 md:w-40 h-auto mb-4 md:mb-0" />
   
    <!-- Contacto -->
    <div class="w-full md:w-auto text-center md:text-left ">
      <h2 class="mb-2 text-xl md:text-2xl font-bold">Contáctanos</h2>
      <address class="not-italic text-gray-800">
        <span class="font-semibold text-white">Direcciones físicas:</span><br />
        <span class="text-white">Cr 78  # 45 a 94 laureles</span><br /><br />
        <span class="font-semibold text-white">Email:</span><br />
        <span class="text-white">englishschool@marypoppinsinstitute.com</span> <br />
        <span class="text-white">englishschool@gmail.com</span>
      </address>
    </div>

    <!-- Redes Sociales -->
    <div class="flex flex-col md:items-end w-full md:w-auto items-center">
      <h2 class="mb-2 text-xl md:text-2xl font-bold pr-10">Redes Sociales</h2>
      <div class="flex gap-4 items-center">

        <!-- Facebook -->
        <a href="https://www.facebook.com/profile.php?id=61553491257383" target="_blank"
          class="flex items-center justify-center bg-white size-10 md:size-14 rounded-full hover:scale-120 transition group">
          <svg class="w-7 h-7 md:w-10 md:h-10 text-blue-800 fill-current group-hover:rotate-15">
            <use xlink:href="/sprite.svg#facebook" />
          </svg>
        </a>

        <!-- Instagram -->
        <a href="https://www.instagram.com/englishschool4ever/" target="_blank"
          class="flex items-center justify-center bg-gradient-to-r from-purple-700 to-pink-600 size-10 md:size-14 rounded-full hover:scale-120 transition group">
          <svg class="w-7 h-7 md:w-10 md:h-10 text-white fill-current group-hover:rotate-15">
            <use xlink:href="/sprite.svg#instagram" />
          </svg>
        </a>
        <!-- WhatsApp -->
        <a href="https://api.whatsapp.com/send/?phone=%2B573003554587&text&type=phone_number&app_absent=0" target="_blank"
          class="flex items-center justify-center bg-green-500 size-10 md:size-14 rounded-full hover:scale-120 transition group">
          <svg class="w-7 h-7 md:w-10 md:h-10 text-white fill-current group-hover:rotate-15 group-hover:scale-120">
            <use xlink:href="/sprite.svg#whatsapp" />
          </svg>
        </a>

      </div>
    </div>
  </div>
  <p class="text-center text-xs text-gray-200 mt-6 font-light">©Copyright 2025 English School. All Rights Reserved.</p>
</footer>